.p1 {border:5px solid red; color: aqua; padding-top: 10px; padding-left: 26px;}
.p2 {border:5px solid black; margin-top: 16px; margin-right: 32px; margin-left: 64px; text-align: center;}

.p3 {border:1px solid #000;}