.tops {padding:8px 12px; box-shadow: 0 4px 8px rgba(0,0,0,0.3); width: 100%; position: fixed; top:0; left:0; background-color: #fff;}
.logo {float: left; padding:8px 16px; cursor:pointer;}
.logo:hover {background-color: #ccc;}
.navs {float: right;}
.nav {float:left; padding:8px 16px; margin-right:8px; cursor:pointer;}
.nav:hover {background-color: #ccc;}

.abouts {margin:100px auto; width:100%; max-width:1000px;}
.about_img {width:50%; float: left; text-align: center; opacity: 0.7;}
.about_img:hover {opacity:1;}
.about_conts {width:50%; float: right; text-align: center; padding-left:5%;}
.about_conts > h1 {margin:10px 0 50px 0;}
.about_conts > h4 {margin-bottom: 30px;}
.about_conts > p {text-align: left; margin-bottom: 30px;}
/* .about_conts > :nth-child(4) {color:#999;} */
.about_conts > :last-child {color:#999;}
